/* Write your CSS here */
.container {
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-image: cover;
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 26vw;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 10px;
}
.heading {
  color: #0b69ff;
  font-size: 24px;
  font-weight: 700;
}
.desc {
  font-weight: 500;
  text-align: center;
}
.button {
  background-color: #0b69ff;
  height: 30px;
  width: 80px;
  color: #ffffff;
  border-radius: 4px;
  outline: none;
  border-width: 0px;
}
.num {
  color: #0b69ff;
  font-size: 28px;
  font-weight: 700;
}
